<!DOCTYPE html>
<html lang="en">
<head>
  <title>djangoPastebin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .list-group{
        max-height: 550px;
        margin-bottom: 10px;
        overflow:auto;
        overflow-y:auto;
        -webkit-overflow-scrolling: touch;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-home"></i> djangoPastebin</a>
    </div>
  </div>
</nav>

  <div class="jumbotron text-center">
        <h1>djangoPastebin</h1>
        <p>A Pastebin Web App written in Python using Django.</p>
  </div>

  <div class="container text-center">
    <div class="row">
        <div class="col-sm-6 nopadding">
        <ul class="list-group">
            {% for i in slist %}
            <li class="list-group-item">
                <a href="/web/view/{{ slist[loop.index0]['id'] }}">{{ slist[loop.index0]['title'] }}</a>
                <br>
                <small>Published On:{{ slist[loop.index0]['publishedOn'] }}</small>
            </li>
            {% endfor %}
    
        </ul>
        </div>

        <div class="col-sm-6 nopadding">
           <h3>New Paste:</h3>
            <form action = "/web/" method = "post" enctype="multipart/form-data">
                  <div class="form-group">
                     <input type="text" class="form-control" id="title" placeholder="Title here" name="title" value="Untitled Paste">
                  </div>

                  <div class="form-group">
                     <textarea rows = "20" cols = "90" class="form-control" name = "text" placeholder="Content here"></textarea>
                  </div>

                  <div class="form-group">
                        <input type = "submit" value="Create New Paste" class="btn btn-success">
                  </div>
            </form>
        </div>
    </div>
  </div>

  <footer class="footer bg-primary navbar-fixed-bottom">
        <div class="container text-center">
          <small>Developed by Vishal Balasubramanian</small>
        </div>
</footer>
</body>
</html>
